<!-- TODO: Movie into a search bar -->
<div>
  <mat-form-field>
    <input matInput type="text" placeholder="Clearable input" [(ngModel)]="searchText">
    <button mat-button *ngIf="searchText" matSuffix mat-icon-button aria-label="Clear" (click)="searchText=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <button mat-button type="button" (click)="searchMovies()">Search</button>
</div>

<!-- TODO: Should add a "no results returned" message if nothing comes back -->
<ng-container *ngIf="$movies">
  <ng-container *ngFor="let movie of $movies">
    <app-movie-list-tile [movie]="movie"></app-movie-list-tile>
  </ng-container>
</ng-container>