<!-- TODO: Movie into a search bar -->
<div class="search-container">
  <mat-form-field class="search-form">
    <input class="search-bar" matInput type="text" placeholder="e.g. Mulan" [(ngModel)]="searchText"
      (keyup.enter)="searchMovies()">
    <button mat-button *ngIf="searchText" matSuffix mat-icon-button aria-label="Clear" (click)="clearSearch()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <button mat-button type="button" (click)="searchMovies()">
    <mat-icon>search</mat-icon>
  </button>

  <!-- I know this is an odd implementation of "current movies" but... time. -->
  <ng-container *ngIf="!$movies && hasSearched">
    <div>
      <p>No results returned, why don't you check out...</p>
      <button mat-raised-button type="button" (click)="getCurrentMovies()">
        See Current Movies
      </button>
    </div>
  </ng-container>
</div>

<ng-container *ngIf="$movies">
  <ng-container *ngFor="let movie of $movies">
    <app-movie-list-tile [movie]="movie"></app-movie-list-tile>
  </ng-container>
</ng-container>