<mat-card class="movie-card">
  <mat-card-header>
    <div mat-card-avatar class="header-image"></div>
    <mat-card-title>{{movieBrief(movie.title, 10)}}</mat-card-title>
  </mat-card-header>

  <img mat-card-image src="http://image.tmdb.org/t/p/w185//{{movie.poster_path}}" alt="Movie icon">

  <mat-card-content>
    <p>
      {{movieBrief(movie.overview)}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <!-- Could just pass the movie object, but wanted to demo the other API call and routing. -->
    <button mat-button routerLink="/movie/detail/{{movie.id}}">DETAILS</button>
  </mat-card-actions>
</mat-card>